@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --lmtext: rgb(0, 0, 0);
  --lmbutton: rgb(54, 65, 223);
  --lmbuttonhover: rgb(121, 127, 182);
  --lmbackground: rgb(230, 230, 255);
  --lmnavbg: rgb(19, 29, 165);
  --dmtext: rgb(184, 182, 182);
  --dmbutton: rgb(36, 43, 138);
  --dmbuttonhover: rgb(70, 79, 179);
  --dmbackground: #1c2835;
  --dmnavbg: rgb(25, 30, 92);
  --dracbg: #282a36;
  --draccurline: #44475a;
  --dracfg: #f8f8f2;
  --draccomment: #6272a4;
  --draccyan: #8be9fd;
  --dracgreen: #50fa7b;
  --dracorange: #ffb86c;
  --dracpink: #ff79c6;
  --dracpurple: #bd93f9;
  --dracred: #ff5555;
  --dracyellow: #f1fa8c;
  /* --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #0b2247;
  --main: #ffffff;
  --header: #eaeaea; */
}

/*.theme-light {
  --text: #fff;
  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}

.theme-dark {
  --text: rgb(211, 210, 210);
  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #0f1724;
  --background: #13202e;
  --main: #ffffff;
  --header: #eaeaea;
}*/

@layer components {

  .navbar {
    @apply
    fixed top-0 right-0 sm:bottom-0 w-14 hover:w-48 h-screen pt-5
    flex flex-col items-end transition-all duration-300 bg-lmnavbg
    dark:bg-draccurline
  }

  .navbar-button {
    @apply
    flex items-center justify-center w-10 h-10 m-2 bg-lmbutton dark:bg-draccomment
    hover:bg-lmbuttonhover dark:hover:bg-dracyellow rounded-3xl hover:rounded-xl
    transition-all duration-300 flex-shrink-0
  }

  .navtext {
    @apply invisible opacity-0 transition-opacity ease-in duration-500 delay-100 
    text-lmtext dark:text-dracfg flex-shrink whitespace-nowrap
  }

  .navbar:hover .navtext {
    @apply visible opacity-100
  }

  .footer {
    @apply
    fixed bottom-0 left-0 w-screen bg-red-300 h-32
    flex
  }

  .footcol {
    @apply 
    flex flex-col flex-wrap grow justify-center items-center border-2
  }

  .slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-2 h-3 bg-green-600 cursor-pointer;
  }

  .slider-thumb::-moz-range-thumb {
    @apply appearance-none w-2 h-3 bg-green-600 cursor-pointer rounded-none border-0;
  }

}